<div class="homepage-container">
    <div class="init-title">
        get to know us
    </div>
    <div class="section-title normal-size-title">
        Meet The Team
    </div>

<div class="image-about-cont">
    <%= image_tag 'meettheteam.jpg', class: "homepage-images"%>
</div>


<div class="card-container">
    <div class="card-border">
        <div class="image-card-cont">
    <%= image_tag 'chelsey.png', class: "card-images"%>
        </div>
        <div class="init-card">Chelsey Randle</div>
        <p class="card-subtitle">Yoga instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'cue.png', class: "card-images"%>
        </div>
        <div class="init-card">Cue Ngema</div>
        <p class="card-subtitle">Dance instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'Iryna.png', class: "card-images"%>
        </div>
        <div class="init-card">Iryna Doubell</div>
        <p class="card-subtitle">Pilates instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'karen.png', class: "card-images"%>
        </div>
        <div class="init-card">Karen</div>
        <p class="card-subtitle">Dance instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'lola.png', class: "card-images"%>
        </div>
        <div class="init-card">Lola</div>
        <p class="card-subtitle">Dance instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'lucy.png', class: "card-images"%>
        </div>
        <div class="init-card">Lucy Colepeper</div>
        <p class="card-subtitle">Pilates instructor</p>
    </div>

    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'nicky.png', class: "card-images"%>
        </div>
        <div class="init-card">Nicky</div>
        <p class="card-subtitle">Yoga instructor</p>
    </div>


    <div class="card-border">
        <div class="image-card-cont">
            <%= image_tag 'sindiswa.png', class: "card-images"%>
        </div>
        <div class="init-card">Sindiswa Ntlangulela</div>
        <p class="card-subtitle">Pilates & Yoga instructor</p>
    </div>

</div>


<div class="section-container">
    <div class="section-title">
        Our Studio Policies
    </div>
</div>

<div class="section-policies">
    <div class="init-title">
        Studio policies
    </div>
    <div class="section-title">
        General Studio Policies
    </div>
    <div class="section-text" style="text-align:center">
        <ul class="numerals">
            <li>Please note there is a 24 HOUR cancellation policy for all private classes (12 hours for group classes). If notification is not received before the 24 hour notice period that session will be forfeited.
            </li>
            <li>Packages are not refundable and cannot be accumulated.</li>
            <li>Class Packages are valid for 30 days from date of purchase.</li>
            <li>All monthly fees must be paid in advance by the 1st of each month.</li>
            <li>When paying by EFT please email Proof of Payment to info@themovementspace.co.za</li>
            <li>Group classes may be cancelled if there are less than three people booked in</li>
            <li>On occasion you may be assigned a different instructor.</li>
            <li>Any special promotional packages are non-refundable, non-transferable and cannot be accumulated</li>
        </ul>
    <div class="main-button">
       <a class="button-yellow" style="margin-top:15px; text-align:center;" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
      </div>
          </div>
</div>

<div class="section-policies">
    <div class="init-title">
        Studio policies
    </div>
    <div class="section-title">
        Studio Etiquette
    </div>
    <div class="section-text" style="text-align:center">
        <ul class="numerals">
            <li>
                Please switch cell phones to silent when in the studio especially during group classes.</li>
            <li>Please be considerate and keep chatter to a minimum during class.</li>
            <li>No speaking is permitted during our yoga classes.</li>
            <li>Please make use of hygienic spray to wipe down mats after your class</li>
            <li>Please leave your shoes at the door</li>
            <li>For hygiene purposes we recommend wearing a clean pair of socks in the studio at all times</li>
        </ul>
    <div class="main-button">
       <a class="button-yellow" style="margin-top:15px; text-align:center;" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
      </div>
    </div>
</div>

<div class="section-policies">
    <div class="init-title">
        Studio policies
    </div>
    <div class="section-title">
        Booking Inn
    </div>
    <div class="section-text" style="text-align:center">
        <ul class="numerals">
            <li>We use an app called Mindbody to manage all our classes , payments, payroll and business reporting.</li>
            <li>Please use it to book into your private appointments or group classes (The link is attached below but you can also book in by pressing on the "Book A Class" button.</li>
            <li src="get.mndbdy.ly/dowyDbwqQfb">get.mndbdy.ly/dowyDbwqQfb</li>
            <li>PS: Prices are not visible on the app.
            </li>
            <li>Please make sure your location is set on Durban on your phone otherwise it takes you to studios in the states.</li>
        </ul>
    <div class="main-button">
       <a class="button-yellow" style="margin-top:15px; text-align:center;" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
      </div>
          </div>
</div>
</div>