<div class="homepage-container">
   <div class="section-title" style="font-size:45px">
      Our Classes
   </div>
   <p class="subtitle">Movement is a medicine for creating change in a person's physical, emotional, and mental states." ~Carol Welch</p>

<div class="classes-container">
    <a href="#pilates" class="class-border">
        <%= image_tag 'pila.jpg', class: "class-images"%>
        <p class="class-subtitle">Pilates</p>
    </a>

    <a href="#yoga" class="class-border">
        <%= image_tag 'yog.jpg', class: "class-images"%>
        <p class="class-subtitle">Yoga</p>
    </a>

     <a href="#dance" class="class-border">
        <%= image_tag 'danc.jpg', class: "class-images"%>
        <p class="class-subtitle">Dance</p>
    </a>

    <a href="#senior" class="class-border">
        <%= image_tag 'seni.jpg', class: "class-images"%>
        <p class="class-subtitle">Senior Classes</p>
    </a>

    <a href="#prenatal" class="class-border">
        <%= image_tag 'pren.jpg', class: "class-images"%>
        <p class="class-subtitle">Prenatal Classes</p>
    </a>

   <a href="#kids" class="class-border">
        <%= image_tag 'kid.jpg', class: "class-images"%>
        <p class="class-subtitle">Kids Classes</p>
    </a>
</div>

<div id="pilates" class="class-container">
   <div class="init-title">
      Our classes
   </div>
   <div class="section-title">
      Pilates
   </div>
   <div class="image-about-cont">
      <%= image_tag 'pilates.jpg', class: "homepage-images"%>
   </div>
   <div class="class-text">
      <b>About Pilates</b>&nbsp;
      <p>Stott Pilates is the contemporary approach to the original exercise method pioneered by Joseph Pilates. STOTT PILATES along with a team of sport scientists, physiotherapists and fitness professionals have refined this method of exercise by including modern principles of exercise science and rehabilitation</p>
      <b>Benefits</b>
      <ul>
         <li>Promotes proper breathing</li>
         <li>Improves balance & coordination</li>
         <li>Toned and conditioned body</li>
         <li>Longer leaner muscles</li>
         <li>Balances strength and flexibility</li>
         <li>Lowered stress levels</li>
         <li>Increased bone density</li>
         <li>Flatter and stronger core</li>
         <li>Enhanced sport performance</li>
         <li>Relief from back and neck pain</li>
         <li>Greater joint mobility</li>
         <li>Prevents recurrence of injuries</li>
         <li>Enhanced concentration</li>
         <li>Improves circulation</li>
      </ul>
   </div>
</div>

<div id="yoga" class="class-container">
   <div class="init-title">
      Our classes
   </div>
   <div class="section-title">
      Yoga
   </div>
   <div class="image-about-cont">
      <%= image_tag 'yoga.jpg', class: "homepage-images"%>
   </div>
   <div class="class-text">
      <p><b>Hatha yoga</b> can be considered an umbrella term to describe many of the most common forms of yoga. n a Hatha yoga class, you move your body slowly and deliberately into different poses that challenge your strength and flexibility, while at the same time focusing on relaxation and mindfulness. Hatha yoga places special emphasis on controlled breathing and posture. Building core strength, which is key to good posture, is another important aspect of this type of yoga.</p>
      <p>In <b>Vinyasa yoga</b>, the body moves in sync with the breath, creating fluid and smooth movements, and so it's also known as “flow” yoga.The word 'vinyasa' comes from the Sanskrit term 'nyasa', meaning 'to place' and the prefix vi, meaning 'in a special way'.</p>
      <p><b>Hot yoga</b> is a form of yoga where the poses are held for a shorter period under hot and humid conditions, resulting in considerable sweating. Some hot yoga practices seek to replicate the heat and humidity of India, where yoga originated. Our hot yoga sequence is slightly slower than the typical sequences and focuses on alignments and safety in the body while flowing through the poses.</p>
   </div>
</div>

<div id="dance" class="class-container">
   <div class="init-title">Our classes</div>
   <div class="section-title">Dance</div>
   <div class="image-about-cont"><%= image_tag 'dance.jpg', class: "homepage-images"%></div>
   <div class="class-text">
      <p><b>Bachata</b> is a style of dance that originated in the Dominican Republic. It is danced widely all over the world but not identically. The basics to the dance are three-step with a Cuban hip motion, followed by a tap including a hip movement on the 4th beat.</p>
      <p><b>Salsa dancing</b> evolved as a dance to accompany salsa music which was popularized in the 1960s. Many of the movements found in salsa dancing originated from earlier forms of Latin dance such as mambo, cha cha cha, and pachanga as well as other dances popular at the time such as swing dance.</p>
      <p><b>Fusion Belly Dance</b> is a modern form of belly dance that was created by fusing American Tribal Style belly dance and American Cabaret belly dance. Classes frequently incorporate elements taken from other movement principles such as yoga for warming up,  traditional forms like Flamenco, Kathak, Odissi, and other folkloric and classical dance styles.</p>
      <p><b>Kizomba</b> is one of the most popular genres of dance and music originating from Angola. It is a derivative of semba, with a mix of Kilapanda and Angolan Merengue, and sung generally in Portuguese. It is music with a romantic flow. It was the Kimbundu name for a dance in Angola as early as 1894.
      The style of Kizomba nowadays emphasizes a very smooth way of dancing with influences of Tango steps. But one of the main differences is that the lower body, the hip, does forward/backwards and circle movements.</p>
      <p><b>Afrobeat</b> is a Nigerian music genre and dance style that involves the combination of West African musical styles and American funk, jazz, and soul influence. The style was pioneered in the 1960s by Nigerian multi-instrumentalist and bandleader Fela Kuti, who is responsible for popularizing the style both within and outside Nigeria. Nowadays it encompasses a broad spectrum of dance moves from all over the african continent.</p>
   </div>
</div>

<div id="senior" class="class-container">
   <div class="init-title">Our classes</div>
   <div class="section-title">Senior Pilates and Yoga</div>
   <div class="image-about-cont"><%= image_tag 'senior.jpg', class: "homepage-images"%></div>
   <div class="class-text">
      <p>Pilates, with all of its variety and modifications, is a fantastic, low impact form of exercise for older adults. Numerous Pilates programs are backed by the medical community, bone-safe, and geared toward the mature adult. Pilates meets the individual where they're at and builds strength, confidence, and mobility.</p>
      <p>Yoga, you're never too old to reap its rewards. For seniors who are looking for a safe, effective way to enhance their physical health and overall wellness, the stretching, breathing, and meditation practices of yoga can be a great solution. In fact, as you will see, doing yoga regularly can result in a host of benefits for older adults, from greater flexibility and improved balance to lower stress and better sleep.</p>
   </div>
</div>

<div id="prenatal" class="class-container">
   <div class="init-title">Our classes</div>
   <div class="section-title">Prenatal classes</div>
   <div class="image-about-cont"><%= image_tag 'prenatal.jpg', class: "homepage-images"%></div>
   <div class="class-text">
      <p><b>“Pregnancy does not limit lung function, and both pregnancy and exercise improve the ability of body tissues to take up and utilize oxygen.”</b>― James F. Clapp</p>
      <p>Before continuing any exercise routine during pregnancy, we do recommend you get the go ahead from your doctor :)</p>
      <p>Pilates is an ideal exercise during pregnancy as it is designed to strengthen the deep abdominal and pelvic floor muscles. Strength in these areas is known as 'core stability'.</p>
      <p>Prenatal Pilates exercises can be performed in positions that are suitable for women at all stages of pregnancy, such as on hands and knees (and on the back in earlier stages of the pregnancy)</p>
      <p>Prenatal Yoga is a great exercise routine to increase strength, flexibility and endurance of the muscles needed for childbirth.</p>
   </div>
</div>

<div id="kids" class="class-container">
   <div class="init-title">Our classes</div>
   <div class="section-title">kids classes</div>
   <div class="image-about-cont"><%= image_tag 'kids.jpg', class: "homepage-images"%></div>
   <div class="class-text">
      <p><b>Our kids classes</b> are focused on keeping kids moving and learning more about their bodies as they grow.</p>
      <p>Our pilates and yoga classes are mat-based, often including stability balls and the fitness circles. Because pilates, yoga and dance are mind and body disciplines, it can guide kids to a stronger body and a more relaxed state of mind; which in turn increases their self-esteem and ability to cope with stress.</p>
      <p>Drop off your kids for a 45min fun yet strengthening  session with our wonderful instructors.</p>
   </div>
</div>

</div>