<div class="homepage-container">
   <h1 class="main-text">The Movement Space</h1>
   <h3 class="subtitle-container">
      <ul>
         <li>Pilates</li>
         <li>Yoga</li>
         <li>Dance</li>
      </ul>
   </h3>
   <div class="image-carousel-cont">
      <%= image_tag 'homepage1.jpg', class: "homepage-images"%>
   </div>
   <div class="subtitle-words">inspiring strength and wellbeing
      </br>
      through mindful movement
   </div>
   <div class="main-button">
      <a class="button-green button-title" href="https://clients.mindbodyonline.com/classic/ws?studioid=5720101&stype=-98" target="_blank">Book a class</a>
   </div>
   <div class="section-container">
      <div class="init-title">
         GET INSPIRED
      </div>
      <div class="section-title">
         Our Studios
      </div>
      <div class="section-text" style="text-align:center; padding: 0px 14px;">
         We can’t be brave in the big world without at least one small safe space to work through our fears and falls.” And to build on our strengths both physically and mentally.
      </div>
   </div>
   <div class="studio-section">
      <div class="studio-westville">
         <div class="image-studio-cont">
            <%= image_tag "westvillestudio.png", style:"border-radius: 5px;", class: "homepage-images" %>
         </div>
      </div>
      <div class="studio-two">
         <div class="init-title">
            Our studios
         </div>
         <div class="section-title">
            Westville Studio
         </div>
         <div class="section-text">
            Nestled in the heart of Westville, our little boutique studio hosts 10 students in a group class with a separate room for private sessions on the equipment.
         </div>
         <a class="button-yellow" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
      </div>
   </div>
   <div class="schedules">
      <div class="init-title">
         Westville studio
      </div>
      <div class="section-title">
         Our Schedules
      </div>
      <div class="schedule-img-cont">
         <%= image_tag 'west.png',  class: "homepage-images"%>
      </div>
   </div>
   <div class="line-cont">
      <div class="line"></div>
   </div>
   <div class="studio-section-two">
      <div class="studio-musgrave">
         <div class="image-studio-cont">
            <%= image_tag 'musgravestudio.png', style:"border-radius: 5px;", class: "homepage-images"%>
         </div>
      </div>
      <div class="studio-two">
         <div class="init-title">
            Our studios
         </div>
         <div class="section-title">
            Musgrave Studio
         </div>
         <div class="section-text">
            With safe parking and an easy to access location, our Musgrave Studio bosts a lovely garden view from the main studio space, hosting 12 students at a time
         </div>
         <a class="button-yellow" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
      </div>
   </div>
   <div class="schedules">
      <div class="init-title">
         Musgrave studio
      </div>
      <div class="section-title">
         Our Schedules
      </div>
      <div class="schedule-img-cont">
         <%= image_tag 'musgrave.png', class: "homepage-images"%>
      </div>
   </div>
   <div class="line-cont">
      <div class="line"></div>
   </div>
   <div class="consultation">
      <div class="init-title">
         Let´s talk
      </div>
      <h1 style="margin:0px">
         BOOK ONE OF OUR CLASSES NOW
      </h1>
      <div class="section-text">
         Schedule a consultation with our team by pressing on the ‘Book A Class” button.
      </div>
      <a class="button-yellow" style="margin-top:10px; text-align:center;" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
   </div>
</div>