<div class="homepage-container">
<p style="color: green"><%= notice %></p>
<div class="section-title">
Workshops
</div>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= article.title %>
    <%= cl_image_tag article.photo.key, height: 300, width: 400, crop: :fill %>
    <%= article.description %>

    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
