<div class="homepage-container">
<p style="color: green"><%= notice %></p>
<div class="section-title normal-size-title">
Workshops
</div>
<p class="subtitle-workshop">“Movement is the starting point for wiring the brain to learn.”</p>

<p class="subtitle" style="max-width: 890px;">
Our workshops are focused on helping our students gain a deeper knowledge of their bodies; enabling them to improve their movements in and outside the classroom space. We touch on themes that we may not be able to cover during a normal weekly class and deepen both the experience and knowledge of the movement modality being covered during the workshop
</p>

<div class="workshops-video-container">
<div class="video-cont">
<div class="video-title">Dance</div>
<iframe class="workshop-vids" width="560" height="315" src="https://www.youtube.com/embed/nxMq3oKjQmk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video-cont">
<div class="video-title">Pilates</div>
<iframe class="workshop-vids" width="560" height="315" src="https://www.youtube.com/embed/1ZFcQDc8I38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video-cont">
<div class="video-title">Yoga</div>
  <iframe class="workshop-vids" width="560" height="315" src="https://www.youtube.com/embed/3nndqYMETyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<%# <%= link_to "New article", new_article_path %> 

<div id="articles">
  <% @articles.each do |article| %>
  <div class="workshop-section">
      <div class="studio-westville">
         <div class="image-studio-cont">
          <%= cl_image_tag article.photo.key, class: "homepage-images" %>
         </div>
      </div>
      <div class="studio-two">
         <div class="init-title">
            Our Workshops
         </div>
         <div class="section-title">
            <%= article.title %>
         </div>
         <div class="section-text">
          <%= article.description %>
         </div>
       </div>
   </div>
     <% end %>
  </div>
  </div>