<div class="footer">
<div class="footer-container">
   <%= link_to root_path do %>
   <span class="logo"><%= image_tag 'logo.png', class: "footer-logo"%> </span>
   <% end %> 

   <ul class="footer-lists">
    <li class="footer-title">Quick Links</li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Classes", classes_path %></li>
    <li> <%= link_to "Pricing", price_path %></li>
    <li> <%= link_to "Workshop", store_path %></li>
    <li> <%= link_to "Contact us", contact_path %></li>
  </ul>

   <ul class="footer-lists">
    <li class="footer-title">Contact info</li>
    <li>1890 W 52nd Street</li>
    <li>New York, New York 10019</li>
    <li>212-440-1919</li>
    <li>Mon-Fri 9am-6pm</li>
  </ul>

<div class="icons">
  <a href="https://www.instagram.com/themovementspacesa/" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-facebook"></a>
</div>

</div>

</div>