<div class="footer">
   <div class="footer-container">
      <%= link_to root_path do %>
      <span class="logo"><%= image_tag 'logo.png', class: "footer-logo"%> </span>
      <% end %> 
      <ul class="footer-lists">
         <li class="footer-title">Quick Links</li>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About Us", about_path %></li>
         <li><%= link_to "Classes", classes_path %></li>
         <li> <%= link_to "Pricing", price_path %></li>
         <li> <%= link_to "Workshops", store_path %></li>
         <li> <%= link_to "Contact Us", contact_path %></li>
      </ul>
      <ul class="footer-lists">
         <li class="footer-title">Contact Info</li>
         <li>260 Peter Mokaba Ridge Road, Musgrave</li>
         <li>2 Cedar Road, Westville</li>
         <li>+27 73 569 9075</li>
         <li>Mon - Fri 6am - 8pm</li>
         <li>Sat & Sun 8am - 10am</li>
      </ul>
      <div class="icons">
         <a href="https://www.instagram.com/themovementspacesa/" class="fa fa-instagram"></a>
      </div>
   </div>
</div>