<script>

</script>
<div class="navbar-test">
   <div class="navbar-background">
      <%= link_to root_path do %>
      <span class="logo"><%= image_tag 'logonav.png', class: "logo-size "%> </span>
      <% end %>
      <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About Us", about_path %></li>
         <li><%= link_to "Classes", classes_path %></li>
         <li> <%= link_to "Pricing", price_path %></li>
         <li> <%= link_to "Workshops", store_path %></li>
         <li> <%= link_to "Contact Us", contact_path %></li>
      </ul>
         <a class="button-nav" href="https://clients.mindbodyonline.com/classic/ws?studioid=5720101&stype=-98" target="_blank">Book A Class</a>
   </div>


      <div class="nav">
         <%= link_to root_path do %>
         <span class="logo"><%= image_tag 'logonav.png', class: "logo-size "%> </span>
         <% end %> 
      
         <label for="toggle">&#9776;</label>
         <input type="checkbox" id="toggle"></label>
         <div class="menu">
         <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", about_path %></li>
         <li><%= link_to "Classes", classes_path %></li>
         <li> <%= link_to "Pricing", price_path %></li>
         <li> <%= link_to "Workshop", store_path %></li>
         <li> <%= link_to "Contact Us", contact_path %></li>
         </ul>
      </div>

   </div>

</div>