
<div class="navbar-test">
   <div class="navbar-background">
      <%= link_to root_path do %>
      <span class="logo"><%= image_tag 'logo.jpg', class: "logo-size "%> </span>
      <% end %>
      <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", about_path %></li>
         <li><%= link_to "Classes", classes_path %></li>
         <li> <%= link_to "Pricing", price_path %></li>
         <li> <%= link_to "Workshop", store_path %></li>
         <li> <%= link_to "Contact us", contact_path %></li>
      </ul>
      <button class="button-green">Book a class</button>
   </div>
</div>