<!DOCTYPE html>
<html>
  <head>
    <title>Yoga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>  
    <link rel="icon" href="https://res.cloudinary.com/kaywork/image/upload/v1669088976/image_19_uesxj2.png">
    <meta property="og:title" content="The Movement Space"/>
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Inspiring strength and wellbeing through mindful movement." />
    <meta property="og:url" content="" />
    <meta property="og:image" content="https://res.cloudinary.com/kaywork/image/upload/v1669089002/image_23_b6kmkq.jpg" />
    <meta property="og:site_name" content="The Movement Space"/>


    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <%= yield %>
  <%= render "shared/footer" %>
  </body>
</html>
