<!DOCTYPE html>
<html>
  <head>
    <title>Yoga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>  
    <meta property="og:title" content="Movement Space"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.rv10.com.bo/" />
    <meta property="og:image" content="https://res.cloudinary.com/websy/image/upload/v1568169567/e6rt3pieqrkjboqqhsqg.png" />
    <meta property="og:site_name" content="The Movement Space"/>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
